@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.scroll-hidden {
  overflow: auto;

  /* Firefox */
  scrollbar-width: none;

  /* IE and Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@keyframes mario-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.mario-hit {
  animation: mario-bounce 300ms ease-out;
}

@keyframes slideDownIn {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.toast-enter {
  animation: slideDownIn 0.3s ease-in forwards;
}
